<div class="p-3">
  

<div class="container">
  <h2>Lista de Animais</h2>
  <!-- Botão para adicionar um novo animal -->
  <button class="btn btn-primary mb-3" (click)="openAddAnimalDialog()">Adicionar Animal</button>

  <!-- Tabela para listar animais -->
  <table class="table table-striped">
    <!-- Colunas da tabela -->
    <thead>
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animals">
        <td>{{ animal.name }}</td>
        <td>{{ animal.age }}</td>
        <td>
          <!-- Botão para editar um animal -->
          <button class="btn btn-info mr-3" (click)="openEditAnimalDialog(animal)">Editar</button>
          <button class="btn btn-danger" (click)="deleteAnimal(animal)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal para adicionar/Editar Animal -->
<div *ngIf="isEditDialogOpen || isAddDialogOpen" class="dialog">
  <h2>{{ dialogTitle }}</h2>
  <form [formGroup]="animalForm">
    <div class="form-group">
      <label for="name">Nome do animal</label>
      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nome do animal" />
    </div>
    <div class="form-group">
      <label for="age">Idade do animal</label>
      <input type="number" class="form-control" id="age" formControlName="age" placeholder="Idade do animal" />
    </div>
    <div class="form-group">
      <label for="description">Descrição do animal</label>
      <textarea class="form-control" id="description" formControlName="description" placeholder="Descrição do animal"></textarea>
    </div>
    <div class="form-group">
      <label for="photoUrl">URL da foto do animal</label>
      <input type="text" class="form-control" id="photoUrl" formControlName="photoUrl" placeholder="URL da foto do animal" />
    </div>
    <div class="form-check">
      <input type="radio" class="form-check-input" id="isAdoptedTrue" value="true" formControlName="isAdopted">
      <label class="form-check-label" for="isAdoptedTrue">Sim</label>
    </div>
    <div class="form-check">
      <input type="radio" class="form-check-input" id="isAdoptedFalse" value="false" formControlName="isAdopted">
      <label class="form-check-label" for="isAdoptedFalse">Não</label>
    </div>
    <button class="btn btn-primary" (click)="saveAnimal()">Salvar</button>
    <button class="btn btn-secondary" (click)="closeDialog()">Cancelar</button>
  </form>

  <!-- Exibe "Sim" ou "Não" com base no valor do formulário -->
  <p>Adotado: {{ animalForm.value.isAdopted ? 'Sim' : 'Não' }}</p>
</div>

</div>
