.main-table{
    position: relative;
}
.dialog{
    background-color: rgb(201, 201, 234);
    position: absolute;
    top: 30%;
    padding: 10px;
}


::ng-deep body {
    background-image: url("../../assets/backgroundAnimals.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
